<ui-modal v-model="state.isVisible">
  <div class="content">
    <div class="center">
      <div class="ui fluid centered fullscreen card vertical expanded area"
        v-if="state.isVisible && item">

        <div class="ui top attached menu row">
          <div class="header borderless item">{{ item.name }}</div>
          <div class="right menu">
            <a class="borderless item"
              v-bind:title="$t('ui.close')"
              v-on:click="state.isVisible = false;"><ui-icon name="close"></ui-icon></a>
          </div>
        </div>

        <div class="content expanded row">
          <tartan-preview class="description"
            v-bind:schema="state.schema"
            v-bind:repeat="true"
            v-bind:threadcount="item.sett"
          ></tartan-preview>
        </div>

        <div class="ui bottom attached menu row">
          <a class="borderless item"
            v-bind:title="$t('ui.edit')"
            v-on:click="state.isVisible = false; editTartan(item.$ref)"><ui-icon
            name="pencil" class="spacing right"></ui-icon>{{ $t('ui.edit') }}</a>
          <div class="right menu">
            <a class="borderless item"
              v-bind:title="$t('ui.download')"
              v-on:click="state.isVisible = false; downloadItem(item.$ref)"><ui-icon
              name="download"></ui-icon></a>
            <a class="borderless item"
              v-bind:title="$t('ui.addToFavorites')"
              v-on:click="toggleFavorites(item.$ref)"><ui-icon name="heart"></ui-icon></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ui-modal>
