<div class="ui pagination menu">
  <a class="item" v-on:click="updateValue(1)"><i class="fa fa-angle-double-left"></i></a>
  <a class="item" v-on:click="updateValue(currentValue - 1)"><i class="fa fa-angle-left"></i></a>
  <a class="item current page ui input" v-on:click="startEditing()">
    <span>{{ currentValue }} / {{ currentCount }}</span>
    <input v-if="isEditing" v-autofocus v-model="editingValue" type="text"
      v-on:blur="cancelEditing()"
      v-on:keyup.prevent.esc="cancelEditing()"
      v-on:keyup.prevent.enter="confirmEditing()"
    >
  </a>
  <a class="item" v-on:click="updateValue(currentValue + 1)"><i class="fa fa-angle-right"></i></a>
  <a class="item" v-on:click="updateValue(currentCount)"><i class="fa fa-angle-double-right"></i></a>
</div>