<div class="ui vertical sidebar left inverted menu" ref="menu">
  <div class="ui list">
    <a class="item" v-on:click="viewPage(pageHome)"><i class="fa fa-home spacing right"></i>{{ pageHome.title }}</a>
    <a class="item" v-on:click="viewPage(pagePersonal)"><i class="fa fa-calendar-o spacing right"></i>{{ pagePersonal.title }}</a>
    <a class="item" v-on:click="viewPage(pageFavorite)"><i class="fa fa-heart spacing right"></i>{{ pageFavorite.title }}</a>

    <div class="ui inverted divider"></div>

    <a class="item" v-on:click="viewPage(pageDatasets)"
    ><i class="fa fa-database spacing right"></i>{{ pageDatasets.title }}
      <span class="ui grey horizontal label">{{ datasetsCount }}</span></a>

    <a class="header item"
      v-if="explorers.length > 0"
      v-on:click="toggleExplorersMenu()"
    ><i class="fa spacing right" v-bind:class="explorersChevronClass"></i>Datasets
      <span class="ui grey horizontal label">{{ explorers.length }}</span></a>
    <transition
      v-if="explorers.length > 0"
      v-bind:css="false"
      v-on:enter="slideDown" v-on:leave="slideUp"
    >
      <div v-show="isDatabasesMenuExpanded">
        <a class="nested item"
          v-for="item in explorers"
          v-on:click="viewPage(item)"
        ><span class="contents">{{ item.title }}</span></a>
      </div>
    </transition>

    <a class="header item"
      v-if="editors.length > 0"
      v-on:click="toggleEditorsMenu()"
    ><i class="fa spacing right" v-bind:class="editorsChevronClass"></i>Editors
      <span class="ui grey horizontal label">{{ editors.length }}</span></a>
    <transition
      v-if="editors.length > 0"
      v-bind:css="false"
      v-on:enter="slideDown" v-on:leave="slideUp"
    >
      <div v-show="isEditorsMenuExpanded">
        <a class="nested item"
          v-for="item in editors"
          v-on:click="viewPage(item)"
        ><span class="contents">{{ item.title }}</span></a>
      </div>
    </transition>

    <div class="ui inverted divider"></div>

    <a class="item" v-on:click="viewPage(pageAbout)"><i
      class="fa fa-info-circle spacing right"></i>{{ pageAbout.title }}</a>
  </div>
</div>