<div>
  <ui-loader v-if="datasetState.loading" class="layer">Loading...</ui-loader>

  <div class="ui padded grid" v-if="datasetState.loaded">
    <div class="sixteen wide column ui borderless segment"
      v-if="datasetState.error">
      <div v-if="datasetState.loaded && datasetState.error"
        class="ui red message">
        <span>Error:</span> <span>{{ datasetState.error.message }}</span>
      </div>
    </div>

    <div class="sixteen wide center aligned column"
      v-if="!datasetState.error">
      <ui-pagination v-bind:count="pagination.pageCount"
        v-model="pagination.currentPage"></ui-pagination>
    </div>
    <div class="sixteen wide vertically compact column"
      v-if="!datasetState.error">
      <div class="ui four doubling stackable cards">
        <list-item v-for="item in dataset.items.slice(firstDisplayItem, lastDisplayItem)"
          v-bind:item="item"></list-item>
      </div>
    </div>
    <div class="sixteen wide center aligned column"
      v-if="!datasetState.error">
      <ui-pagination v-bind:count="pagination.pageCount"
        v-model="pagination.currentPage"></ui-pagination>
    </div>
  </div>
</div>
