<div class="ui top attached page menu">
  <a class="item" v-on:click="toggleSidebarMenu()"><i class="fa fa-bars"></i></a>
  <div class="borderless header item">{{ currentPage.title }}</div>

  <div class="right aligned menu" v-if="additionalMenuStyle == 'buttons'">
    <a class="item"
      v-for="action in currentPage.additionalActions"
      v-on:click="triggerAdditionalAction(action)"
      v-bind:title="action.title"
    ><icon v-bind:name="action.icon" class="spacing right" /></a>
  </div>

  <div class="right aligned menu" v-if="additionalMenuStyle == 'dropdown'">
    <dropdown class="borderless item" v-model="isAdditionActionsMenuVisible">
      <icon name="ellipsis-v" />
      <div class="menu">
        <div class="item"
          v-for="action in currentPage.additionalActions"
          v-on:click="triggerAdditionalAction(action)"
          v-bind:title="action.title"
        ><icon v-bind:name="action.icon" class="spacing right" />{{ action.title }}</div>
      </div>
    </dropdown>
  </div>
</div>